/* =========== HERO =========== */

.resume-content {
  display: flex;
  gap: 30px;
}

.resume-education,
.resume-experience {
  flex-basis: 100%;
}

.resume-content-icon {
  margin-right: 12px;
}

.resume-items {
  padding: 24px;
}

.resume-item {
  margin-top: 24px;
  border-left: 2px solid var(--highlight-color);
}

.resume-item:first-child {
  margin-top: 0;
}

.resume-item-title,
.resume-item-subtitle,
.resume-item-description,
.resume-item-skills-main,
.resume-item-skills-soft,
.resume-item-skills-language
 {
  padding-left: 32px;
  font-size: 14px;
  line-height: 20px;
}

.resume-item-title {
  margin: 0;
}

.resume-item-subtitle,
.resume-item-skills-main,
.resume-item-skills-soft,
.resume-item-skills-language
 {
  margin-top: 12px;
  position: relative;
  color: var(--highlight-color);
}

.resume-item-subtitle::before
{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 2px;
  transform: translateX(calc(-50% - 1px));
  background-color: var(--highlight-color);
}
.resume-item-skills-main::before
{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 85px;
  transform: translateX(calc(-50% - 1px));
  background-color: var(--highlight-color);
}
.resume-item-skills-soft::before{
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 20px;
	transform: translateX(calc(-50% - 1px));
	background-color: var(--highlight-color);
 }
 .resume-item-skills-language::before{
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: -5px;
	transform: translateX(calc(-50% - 1px));
	background-color: var(--highlight-color);
 }
 
.about-skills-list{
	margin-top: 20px;
}
.resume-item-description {
  margin: 12px 0 0;
}

@media only screen and (max-width: 768px) {
  .resume-content {
    flex-direction: column;
    gap: 32px;
  }

  .resume-experience {
    order: -1;
  }
  .resume-item-skills-main::before
{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 200px;
  transform: translateX(calc(-50% - 1px));
  background-color: var(--highlight-color);
}
}
