/* =========== SIDEBAR =========== */

#sidebar-trigger {
  display: none;
}

.sidebar {
  min-height: 100%;
  z-index: 10;
  box-shadow: 1px 0px 4px #000;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.nav-logo:focus::before {
  box-shadow: 0 0 0 2px #fff;
}

.nav-logo::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--highlight-color);
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background-color: var(--secondary-bg-color);
}

.sidebar .nav-list {
  margin-top: 32px;
  color: var(--text-color);
}

.sidebar .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: inherit;
  text-decoration: none;
  text-transform: lowercase;
  transition: all 0.4s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:focus {
  color: var(--highlight-color);
  outline: none;
}

.sidebar .nav-link .nav-link-icon {
  font-size: 32px;
}

.sidebar .nav-link .nav-link-text {
  margin-top: 8px;
  font-size: 14px;
}

.sidebar .scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: auto;
  font-size: 32px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--highlight-color);
}

.sidebar .scroll-top:focus {
  color: var(--highlight-color);
  background-color: var(--text-color);
  outline: none;
}

.sidebar-toggle {
  display: none;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 100%;
  top: 40px;
  border-radius: 0px 8px 8px 0px;
  color: var(--text-color);
  font-size: 24px;
  background-color: var(--highlight-color);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: none;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
  }

  #sidebar-trigger:checked ~ .sidebar {
    transform: translateX(0%);
  }

  .sidebar .nav {
    padding-bottom: 56px;
    justify-content: center;
  }

  .nav-logo {
    display: none;
  }

  .sidebar .nav-link,
  .sidebar .scroll-top {
    width: 56px;
    height: 56px;
  }

  .sidebar .scroll-top {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
  }

  .sidebar .nav-link .nav-link-text {
    display: none;
  }

  .sidebar .nav-link .nav-link-icon {
    font-size: 22px;
  }

  .sidebar-toggle {
    display: flex;
  }
}
